params {
    // Optional parameters for Demuxem - Default values
    assay = "HTO"
    quantile = 0.7
    maxiter = 5
    qrange_from = 0.1
    qrange_to = 0.9
    qrange_by = 0.05

}


process {

    withName: DEMUXEM {
        ext.args = "--assay ${params.assay} --quantile ${params.quantile} --autoThresh ${params.autoThresh}  --min-num-umis ${params.min_num_umis} --min-signal-hashtag ${params.min_signal_hashtag} --random-state ${params.random_state}"
    }

}
